<head th:replace="fragments/header :: head"></head>


<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="styles.css" th:href="@{/css/style.css}" media="screen">
    <title>Daycare System</title>
</head>


<body>
<div class="container-fluid text-center">
    <!--<h1>Welcome to my application</h1>-->
    <!--    <a class="h2" th:href="@{/users}">Manage users</a>-->

    <div class="row navbar">
        <div class="row account-info">
            <div>Logged in as: </div>
            <div th:text="${adminName}"></div>
        </div>
        <div class="row nav-links">
            <a th:href="@{/userList}">Manage users</a>
            <a th:href="@{/createWorkSchedules}">Manage schedules</a>
            <a th:href="@{/displayWaitingList}">Manage waiting list</a>
            <a th:href="@{/childrenList}">Manage children</a>
        </div>
    </div>
</div>
</body>
</html>