<head th:replace="fragments/header :: head"></head>

<body>
<div class="container-fluid text-center">
  <div>
    <h2>Manage children</h2>
    <div class="m-2">
   <!--   <a class="h3"  th:href="@{/users/new}">Add new children</a> -->
    </div>
  </div>
  <table class="table" table-bordered>
    <thead class ="thead-dark"></thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Parent First Name</th>
      <th>Parent Last Name</th>
      <th>Address</th>
      <th>Contact Number</th>
      <th></th>
    </tr>
    <tbody>
    <th:block th:each="children : ${listChildren}">
      <tr>
        <td>[[${children.id}]]</td>
        <td>[[${children.firstName}]]</td>
        <td>[[${children.lastName}]]</td>
        <td>[[${children.parentFirstName}]]</td>
        <td>[[${children.parentLastName}]]</td>
        <td>[[${children.adress}]]</td>
        <td>[[${children.contactNumber}]]</td>
        <td>
        </td>
      </tr>
    </th:block>
    </tbody>
  </table>
</div>
</body>
</html>