<head th:replace="fragments/header :: head"></head>

<body>
<div class="container-fluid text-center">
    <!--<h1>Welcome to my application</h1>-->
    <!--    <a class="h2" th:href="@{/users}">Manage users</a>-->

    <div class="row navbar">
        <div class="row account-info">
            <div>Logged in as: </div>
            <div th:text="${adminName}"></div>
        </div>

        <div class="row nav-links">
            <a th:href="@{/displayAllUsers}">Manage users</a>
            <a th:href="@{/createWorkSchedules}">Manage schedules</a>
            <a th:href="@{/displayWaitingList}">Manage waiting list</a>
            <a th:href="@{/childrenList}">Manage children</a>
        </div>
    </div>

    <div class="main">
        <div style="margin-top: 150px;">
            <div th:text="'Inputting scheuled for '+${employee.firstName}+ ' '+${employee.lastName}"></div>
            <form th:action="@{/addScheduleShiftFor/{id}(id = ${employee.id})}">
                <label for="from">Input the start  date of the shift: </label>
                <input type="date" id="from" name="shiftFrom">
                <br>  <br>
                <label for="to">Input the end date of the shift: </label>
                <input type="date" id="to" name="shiffTo">
                <br>  <br>
                <input type="submit" value="Submit schedule">
            </form>
        </div>
    </div>
</div>
</body>
</html>