<head th:replace="fragments/header :: head"></head>
<body>
<div class="container-fluid text-center">
    <div>
        <h2>Manage user</h2>
        <div class="m-2">
        </div>
    </div>
    <table class="table" table-bordered>
        <thead class ="thead-dark"></thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Password</th>
            <th></th>
            </tr>
        <tbody>
        <th:block th:each="user : ${listUsers}">
            <tr>
                <td>[[${user.id}]]</td>
                <td>[[${user.username}]]</td>
                <td>[[${user.password}]]</td>
                <td>

                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <div>
        <a class="h5 text-center" th:href="@{/admin}">Back from whence you came</a>
    </div>
</div>
</body>
</html>