<head th:replace="fragments/header :: head"></head>
<body>
<div class="container-fluid text-center">
    <div class="row navbar">
        <div class="row account-info">
            <div>Logged in as: </div>
            <div th:text="${adminName}"></div>
        </div>
    </div>
    <div class="main">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Monday</th>
                <th scope="col">Tuesday</th>
                <th scope="col">Wednesday</th>
                <th scope="col">Thursday</th>
                <th scope="col">Friday</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="schedule : ${scheduleList}">
                <td>[[${schedule.schedule_id}]]</td>
                <td>[[${schedule.monday}]]</td>
                <td>[[${schedule.tuesday}]]</td>
                <td>[[${schedule.wednesday}]]</td>
                <td>[[${schedule.thursday}]]</td>
                <td>[[${schedule.friday}]]</td>
                <td>
                <td>
                    <a th:href="@{/editSchedule/}">Edit</a>
                    <a th:href="@{/removeSchedule}">Remove</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>