<head th:replace="fragments/header :: head"></head>

<body>
<div class="container-fluid text-center">
    <div>
        <h2 class="border-bottom-5">Manage schedule</h2>
        <a class="h3 border-bottom-10"  th:href="@{schedule/add}">Add new schedule</a>
        <div th:if="${message}"class="alert alert-success text-center">
            [[${message}]]
        </div>
    </div>
    <table class="table" table-bordered>
        <thead class ="thead-dark"></thead>
        <tr>
            <th>ID</th>
            <th>Teacher's name</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th></th>
            <th>Actions</th>
            <th></th>
        </tr>
        <tbody>
        <th:block th:each="schedule : ${scheduleList}">
            <tr>
                <td>[[${schedule.id}]]</td>
                <td>[[${schedule.employeeName}]]</td>
                <td>[[${schedule.monday}]]</td>
                <td>[[${schedule.tuesday}]]</td>
                <td>[[${schedule.wednesday}]]</td>
                <td>[[${schedule.thursday}]]</td>
                <td>[[${schedule.friday}]]</td>
                <td>
                <td>
                    <a class="p mr-3 text-white" th:href="@{'/schedule/edit/' + ${schedule.id}}">Edit</a>
                    <a class="p text-white" th:href="@{'schedule/delete/' + ${schedule.id}}">Delete</a>
                </td>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <div>
        <a class="h5 text-center" th:href="@{/admin}">Back from whence you came</a>
    </div>
</div>
</body>
</html>