<head th:replace="fragments/header :: head"></head>
<body>
<div class="container-fluid text-center">
  <div>
    <h2>Manage children</h2>
    <a class="h3" th:href="@{children/add}">Add new children</a>
    <div th:if="${message}"class="alert alert-success text-center">
      [[${message}]]
    </div>
  </div>
  <table class="table" table-bordered>
    <thead class ="thead-dark"></thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Parent First Name</th>
      <th>Parent Last Name</th>
      <th>Address</th>
      <th>Contact Number</th>
      <th></th>
      <th>Actions</th>
      <th></th>
    </tr>
    <tbody>
    <th:block th:each="children : ${listChildren}">
      <tr>
        <td>[[${children.id}]]</td>
        <td>[[${children.firstName}]]</td>
        <td>[[${children.lastName}]]</td>
        <td>[[${children.parentFirstName}]]</td>
        <td>[[${children.parentLastName}]]</td>
        <td>[[${children.address}]]</td>
        <td>[[${children.contactNumber}]]</td>
        <td>
        <td>
          <a class="p mr-3 text-white" th:href="@{'/children/edit/' + ${children.id}}">Edit</a>
          <a class="p text-white" th:href="@{'children/delete/' + ${children.id}}">Delete</a>
        </td>
        </td>
      </tr>
    </th:block>
    </tbody>
  </table>
  <div>
    <a class="h5 text-center" th:href="@{/admin}">Back from whence you came</a>
  </div>
</div>
</body>
</html>